* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "park";
}

body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.drawing-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Behind UI but still interactive */
  pointer-events: auto; /* Allow drawing */
}

.noisy-person-text {
  color: white;
  transform: rotate(-3deg);
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 30%;
  font-size: 50px;
}

.pranksters-person-text{
  color: white;
  transform: rotate(3deg);
  position: fixed;
  z-index: 999;
  left: 2%;
  top: 20%;
  font-size: 50px;
}

.blackboardEraser-img{
  position: fixed;
  z-index: 999;
    width: 20%;
    bottom: 13%;
    right: 0%;
}

.BlackboardGraffiti-img{
  position: fixed;
  z-index: 999;
  width: 500px;
  left: 4%;
  bottom: 15%;
  rotate: inherit;
  transform: rotate(15deg);
}

@font-face {
  font-family: "bam";
  src: url("../public/bam.ttf");
}

@font-face {
  font-family: 'Ownglyph_ryurue-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "park";
  src: url("../public/park.ttf");
}