### Java ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log
logs/
log/
logfile/
*.out

### Spring Boot ###
target/
bin/
build/
application.yml

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
**/build/

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
out/

### VSCode ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Env or Secrets ###
.env
.env.production
.env.*
*.key
*.pem

### Others ###
node_modules/
# Spring Boot 설정 파일 무시
application.yml