/* * {
    font-family: 'Nanum Myeongjo', serif;
} */

.privacy-container {
    background-color: #EFEDED;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.privacy-li {
    margin-left: 30px;
}

.privacy-content {
    background-color: transparent;
    max-width: 800px;
    width: 100%;
    padding: 3rem;
    border-radius: 8px;
}

.privacy-title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 2rem;
}

.privacy-notice {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.privacy-section {
    margin-bottom: 2rem;
}

.privacy-section h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.privacy-section ul {
    list-style: none;
    padding-left: 1rem;
}

.privacy-section li {
    margin-bottom: 0.5rem;
    position: relative;
}

.privacy-section li:before {
    content: "•";
    position: absolute;
    left: -1rem;
}

.privacy-section p {
    padding-left: 1rem;
    line-height: 1.6;
}

.privacy-footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

