.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  

.glossary-input {
    width: 380px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.create-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2ec4b6;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create-button:hover {
    background-color: #28b2a5;
}

/* 우측 상단 취소 버튼 */
.cancel-button {
    position: absolute;
    /* 우측 상단 배치를 위해 */
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cancel-button:hover {
    transform: scale(1.2);
    /* 호버 시 크기 확대 */
}