// 색상 관련
$primary-color: #f7d787;
$primary-color-dark: #f8bd6a;
$primary-hover-color: #ed6444;
$secondary-color: #f9e1c7;
$secondary-hover-color: #f1b874;;
$secondary-accent-color: #f2af5c;
$text-color: #222;
$text-title-color: #333;
$text-subtitle-color: #97a7ca;
$secondary-text-color: #666;
$secondary-text-grey: #616060;
$background-color: #fff;
$card-background: #f3f7ff;

$border-color: #b6b6b6;
$border-active-color: #ffbc2c;
$border-light-color: #e1e1e1;
$placeholder-color: #b6b6b6;
$icon-color: #999;
$white-color: #fff;
$message-background: rgb(252, 241, 217);
$danger-color: #d62939;
$accent-color: #ff4d4d;

$violet-color: #ac8aee;

$color-success: #4CAF50;
$color-gray-200: #e0e0e0;
$color-gray-600: #757575;

// 폰트 관련(사이즈, 굵기)
$font-family-eng: 'Roboto', sans-serif;
$font-size-base: 15px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 30px;

$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-48: 48px;
$font-size-52: 52px;

$font-icon-xs: 18px;
$font-icon-sm: 20px;
$font-icon-md: 28px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// 모서리 관련
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-xxl: 20px;
$radius-circle: 50%;

// Light Mode Theme
$light-primary-color: #f3f7ff;
$light-secondary-color: #dce6f9;
$light-placeholder-color: #606982;
$light-secondary-hover-color: #d2ddf2;
$light-text-color: #090c13;

// Dark Mode Theme
$dark-primary-color: #101623;
$dark-background-color: #101623;
$dark-text-color: #edf3ff;
$dark-secondary-color: #283045;
$dark-placeholder-color: #c3cdde;


$color-background-light: #f8f9fa;

$btn-cancel: #eaecef;