@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FlightSans-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@layer utilities {
  * {
    @apply scrollbar-none;
  }
}