# Database Configuration
DB_USER=...
DB_PASSWORD=...
DB_NAME=car_sentry
DB_PORT=5432

# RabbitMQ Configuration
MQ_USER=...
MQ_PASSWORD=...
MQ_PORT=5672
MQ_MANAGEMENT_PORT=15672

# AI Server 설정 (FastAPI)
# APP_ENV: local (테스트 모드), production (운영 모드)
APP_ENV=local

# Storage 설정 (Backend)
# STORAGE_TYPE: local (로컬 디렉토리), s3 (AWS S3)
STORAGE_TYPE=local

# AWS S3 설정 (STORAGE_TYPE=s3 인 경우 필수)
S3_ACCESS_KEY=your_access_key
S3_SECRET_KEY=your_secret_key
S3_REGION=ap-northeast-2
S3_BUCKET_NAME=ai-5-main-project-car-bom

# High Mobility 설정 (OAuth 연동)
HM_CLIENT_ID=your_HM_id
HM_CLIENT_SECRET=your_HM_secret_key

# Smartcar Configuration
SMARTCAR_CLIENT_ID=your_smartcar_id
SMARTCAR_CLIENT_SECRET=your_samrtcar_secret_key
SMARTCAR_REDIRECT_URI=http://localhost:8080/api/smartcar/callback
SMARTCAR_MODE=test

# OpenAi API KEY
OPENAI_API_KEY=your_openai_key

# OCR
NAVER_OCR_SECRET_KEY=your_naver_ocr_secret_key
NAVER_OCR_INVOKE_URL=your_naver_ocr_invoke_url

# Backend Secrets
JWT_SECRET=your_jwt_secret
ENCRYPTION_KEY=your_encryption_key
FIREBASE_CONFIG_PATH=your_firebase_config_path

# 1. 실행 중인 컨테이너 중지 및 삭제
# docker stop car-sentry-redis
# docker rm car-sentry-redis
# 2. 저장된 데이터(볼륨) 삭제
# docker volume rm ai-5-main-project_redis_data
# 3. (선택사항) redis 이미지 삭제
# docker rmi redis:7.2-alpine