/* 모달 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달을 항상 위에 표시 */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  background-color: #ffffff;
  padding: 20px 60px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%; /* 화면 크기 조정에 따라 반응형 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 모달 그림자 */
  text-align: center;
  position: relative; /* 닫기 버튼 위치 조정용 */
}

/* 모달 제목 스타일 */
.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

/* 로그인 항목 스타일 */
.login-item {
  display: flex;
  align-items: center; /* 세로 정렬 */
  justify-content: flex-start; /* 가로 정렬 */
  gap: 10px; /* 이미지와 버튼 간격 */
  margin-bottom: 15px; /* 항목 간 간격 */
}

/* 로고 스타일 */
.logo {
  width: 30px;
  height: 30px;
  flex-shrink: 0; /* 로고 크기 고정 */
  margin-left: 45px;
}

/* 로그인 버튼 스타일 */
.modal-content .login-button {
  display: flex;
  align-items: center; /* 세로 정렬 */
  justify-content: left;
  gap: 10px; /* 이미지와 텍스트 간 간격 */
  width: 100%; /* 버튼 전체 너비 */
  height: 45px;
  margin-bottom: 15px;
  padding: 5px 20px;
  font-size: 16px;
  color: #333 !important;
  background-color: #ffffff !important;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  border: #333 2px solid;
}

/* 닫기 버튼 스타일 */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #333 !important;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-weight: bolder;
  background-color: #fff !important;
}

.close-button:hover {
  transform: scale(1.2); /* 호버 시 크기 확대 */
  color: #333;
}
