.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: white;
  width: 70%;
  max-width: 800px;
  max-height: 80vh;
  border-radius: var(--border-radius-4);
  position: relative;
  overflow-y: auto;
  animation: modal-open 0.3s ease-out;
}

@keyframes modal-open {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border-radius: 50%;
}

.close_btn img {
  width: 24px;
  height: 24px;
}

.image_container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_container {
  padding: 30px;
}

.title {
  font-size: var(--font-size-2);
  font-weight: var(--bold);
  color: var(--text-main);
  margin-bottom: 5px;
}

.subtitle {
  font-size: var(--font-size-4);
  color: var(--text-sub);
  margin-bottom: 20px;
}

.info_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description {
  font-size: var(--font-size-4);
  line-height: var(--line-height-main);
  color: var(--text-main);
}

.detail_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_item {
  display: flex;
  gap: 10px;
  font-size: var(--font-size-5);
}

.label {
  min-width: 80px;
  font-weight: var(--bold);
  color: var(--text-sub);
}

.website_link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color-1);
  color: white;
  text-decoration: none;
  border-radius: var(--border-radius-2);
  font-size: var(--font-size-5);
  text-align: center;
  transition: background-color 0.2s;
}

.website_link:hover {
  box-shadow: var(--shadow-hover);

}

@media (max-width: 768px) {
  .modal_content {
    width: 95%;
  }

  .image_container {
    height: 200px;
  }

  .content_container {
    padding: 20px;
  }

  .title {
    font-size: var(--font-size-3);
  }

  .subtitle {
    font-size: var(--font-size-5);
  }

  .description {
    font-size: var(--font-size-5);
  }

  .info_item {
    font-size: var(--font-size-6);
  }
} 

.default_image_container {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_image {
  width: 25%;
  height: 25%;
  object-fit:contain;
}

