DB_URL=jdbc:mysql://localhost:3306/skinmate
DB_USERNAME=root
DB_PASSWORD=your_password

KAKAO_CLIENT_ID=a7c27574c30bb99e563sdfsfwerwfwe
KAKAO_CLIENT_SECRET=pGxFRZd18ewerwerwrewetwet

JWT_SECRET=myVerySecretKeywerwafpsdfsdf