.short-btn{
    width: 150px;
    padding:12px 16px;
    border: none;
    border-radius: var(--border-radius-2);
    background-color: var(--main-color-1);
    color: var(--white);
    font-size: var(--font-size-6);
    font-weight: var(--bold);
    cursor: pointer;
    box-shadow: var(--shadow-basic);
}

.short-btn:hover{
    box-shadow: var(--shadow-hover);
    transition: all 0.3s;
}