.messagesContainer {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.message {
    display: flex;
    width: 100%;
    min-height: 60px;
}

.userMessage, .botMessage {
    font-size: 20px;
    line-height: 1.6;
}

.recommendationWrapper {
    width: 100%;
    margin-top: -25px;
    margin-bottom: 20px;
}