<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.4//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aix.againhello.subscription.SubscriptionMapper">
    <resultMap id="ExceptionCaseResultMap" type="com.aix.againhello.subscription.responseWrapper.ExceptionCaseResponse">
        <result column="subscription_code" property="subscriptionCode"/>
        <result column="service_code" property="serviceCode"/>
    </resultMap>

    <!-- 구독중인 데이터 조회 -->
    <select id="getSubscriptionList" resultType="com.aix.againhello.subscription.responseWrapper.SubscriptionInfoResponse">
        SELECT
            sub.service_code,
            sub.deceased_code,
            dd.deceased_name
        FROM subscription sub
        JOIN deceased_data dd ON sub.deceased_code = dd.deceased_code
        WHERE sub.user_code = #{userCode};
    </select>

    <!-- 고인 한명에 대한 문자,전화 서비스 모두 구독중인지 확인 -->
    <select id="countServiceTypesByDeceasedCode" resultType="int">
        SELECT COUNT(DISTINCT service_code)
        FROM subscription
        WHERE deceased_code = #{deceasedCode}
    </select>

    <!-- 해당 고인과 이미 해당 서비스 이용중인지 -->
    <select id="existsByUserAndDeceasedAndService" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM subscription
        WHERE user_code = #{userCode}
        AND deceased_code = #{deceasedCode}
        AND service_code = #{serviceCode}
        )
    </select>


    <!-- 구독 추가 -->
    <insert id="insertSubscription" parameterType="com.aix.againhello.common.SubscriptionDTO" useGeneratedKeys="true" keyProperty="subscriptionCode">
        INSERT INTO subscription (
            user_code, service_code
        <if test="deceasedCode != null">
            , deceased_code
        </if>
        )
        VALUES (
        #{userCode}, #{serviceCode}
        <if test="deceasedCode != null">
            , #{deceasedCode}
        </if>
        )
    </insert>

    <!-- 고인 정보 조회 -->
    <select id="getDeceasedData" resultType="com.aix.againhello.common.DeceasedDataDTO">
        SELECT
            *
        FROM deceased_data
        WHERE deceased_code = #{deceasedCode};
    </select>

    <!-- 고인 코드 조회 -->
    <select id="existsByDeceasedCode" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM deceased_data
        WHERE deceased_code = #{deceasedCode}
    </select>

    <!-- 결제는 했지만 고인정보는 없는 케이스 조회 -->
    <select id="getSubscriptedWithNoDeceasedData" resultMap="ExceptionCaseResultMap">
        SELECT
            sub.subscription_code AS subscription_code,
            sub.service_code AS service_code
        FROM subscription sub
        WHERE sub.user_code = #{userCode}
        AND sub.deceased_code IS NULL
    </select>

    <!-- 구독 코드 조회 -->
    <select id="existsBySubscriptionCode" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM subscription
        WHERE subscription_code = #{subscriptionCode}
    </select>

    <!-- 구독 코드로 구독 정보 조회 -->
    <select id="findSubscriptionByCode" resultType="com.aix.againhello.common.SubscriptionDTO">
        SELECT
            subscription_code as subscriptionCode,
            user_code as userCode,
            service_code as serviceCode,
            deceased_code as deceasedCode,
            start_date as startDate
        FROM subscription
        WHERE subscription_code = #{subscriptionCode}
    </select>

    <!-- 구독 정보에 subscriptionCode 업데이트 -->
    <update id="updateSubscriptionDeceasedCode" parameterType="com.aix.againhello.common.SubscriptionDTO">
        UPDATE subscription
        SET deceased_code = #{deceasedCode}
        WHERE subscription_code = #{subscriptionCode}
    </update>

    <!-- 구독 중인 서비스 코드 리스트 조회 -->
    <select id="findServiceSubscriptionsByUserAndDeceased" resultType="com.aix.againhello.common.SubscriptionDTO">
        SELECT *
        FROM subscription
        WHERE user_code = #{userCode}
        AND deceased_code = #{deceasedCode}
    </select>

    <select id="findByUserCode" resultType="com.aix.againhello.common.SubscriptionDTO">
        SELECT subscription_code, service_code, user_code, deceased_code
        FROM subscription
        WHERE user_code = #{userCode}
    </select>

    <resultMap id="DeceasedDetailMap" type="com.aix.againhello.common.DeceasedDetailDTO">
        <id property="deceasedCode" column="deceased_code"/>
        <result property="deceasedName" column="deceased_name"/>
        <result property="gender" column="gender"/>
        <result property="deceasedAge" column="deceased_age"/>
        <result property="personality" column="personality"/>
        <result property="deceasedNickname" column="deceased_nickname"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="relationship" column="relationship"/>
        <result property="speakingTone" column="speaking_tone"/>
        <collection property="serviceSubscriptions" ofType="com.aix.againhello.common.SubscriptionDTO">
            <id property="subscriptionCode" column="subscription_code"/>
            <result property="serviceCode" column="service_code"/>
            <result property="userCode" column="user_code"/>
            <result property="deceasedCode" column="deceased_code"/>
        </collection>
    </resultMap>

    <select id="getDeceasedDetailWithSubscriptions" resultMap="DeceasedDetailMap">
        SELECT
        d.deceased_code,
        d.deceased_name,
        d.gender,
        d.deceased_age,
        d.personality,
        d.deceased_nickname,
        d.user_nickname,
        d.relationship,
        d.speaking_tone,
        s.subscription_code,
        s.service_code,
        s.user_code,
        s.deceased_code
        FROM deceased_data d
        LEFT JOIN subscription s
        ON d.deceased_code = s.deceased_code
        AND s.user_code = #{userCode}
        WHERE d.deceased_code = #{deceasedCode}
    </select>

</mapper>