<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aix.againhello.oauth.kakao.mapper.UserMapper">
    <select id="findByEmail" resultType="com.aix.againhello.oauth.kakao.dto.User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <insert id="save" parameterType="com.aix.againhello.oauth.kakao.dto.User">
        INSERT INTO users (email, oauth, full_name, number, gender, admin, refresh_token)
        VALUES (#{email}, #{oauth}, #{fullName}, #{number}, #{gender}, #{admin}, #{refreshToken})
    </insert>

    <update id="updateRefreshToken">
        UPDATE users SET refresh_token = #{refreshToken} WHERE email = #{email}
    </update>

    <update id="deactivate">
        UPDATE users SET status = true WHERE email = #{email}
    </update>

    <select id="existsById" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM users
        WHERE code = #{code}
    </select>

    <select id="findById" resultType="com.aix.againhello.oauth.kakao.dto.User">
        SELECT * FROM users WHERE code = #{userCode}
    </select>
</mapper>