.layout-container {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    min-height: 100vh;
    max-width: var(--max-width);
}

.side-bar-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

