fastapi
uvicorn
python-multipart
Pillow
fasttext-wheel
numpy
git+https://github.com/haven-jeon/PyKoSpacing.git
kss
tf-keras
google-cloud-vision==3.10.0
onnxruntime
insightface
pdf2image
cv2
transformers
torch --index-url https://download.pytorch.org/whl/cu121
accelerate
sentence_transformers
peft
# acres==0.3.0
# aiofiles==24.1.0
# albucore==0.0.23
# albumentations==2.0.5
# annotated-types==0.7.0
# anyio==4.8.0
# cachetools==5.5.2
# certifi==2025.1.31
# charset-normalizer==3.4.1
# ci-info==0.3.0
# click==8.1.8
# colorama==0.4.6
# coloredlogs==15.0.1
# configobj==5.0.9
# configparser==7.2.0
# contourpy==1.3.1
# cycler==0.12.1
# Cython==3.0.12
# easydict==1.13
# etelemetry==0.3.1
# exceptiongroup==1.2.2
# fastapi==0.115.11
# filelock==3.13.1
# fitz==0.0.1.dev2
# flatbuffers==25.2.10
# fonttools==4.56.0
# frontend==0.0.3
# fsspec==2024.6.1
# git+https://github.com/haven-jeon/PyKoSpacing.git
# google-api-core==2.24.2
# google-auth==2.38.0
# google-cloud-vision==3.10.0
# googleapis-common-protos==1.69.1
# grpcio==1.71.0
# grpcio-status==1.71.0
# h11==0.14.0
# httplib2==0.22.0
# humanfriendly==10.0
# idna==3.10
# imageio==2.37.0
# importlib_resources==6.5.2
# insightface==0.7.3
# intel-openmp==2021.4.0
# isodate==0.6.1
# itsdangerous==2.2.0
# Jinja2==3.1.4
# joblib==1.4.2
# kiwisolver==1.4.8
# kss
# lazy_loader==0.4
# looseversion==1.3.0
# lxml==5.3.1
# MarkupSafe==2.1.5
# matplotlib==3.10.1
# mkl==2021.4.0
# mpmath==1.3.0
# networkx==3.4.2
# nibabel==5.3.2
# nipype==1.9.2
# numpy==2.2.3
# onnx==1.17.0
# onnxruntime-gpu==1.20.1
# opencv-contrib-python==4.11.0.86
# opencv-python-headless==4.11.0.86
# packaging==24.2
# pandas==2.2.3
# pathlib==1.0.1
# pdf2image==1.17.0
# pillow==11.1.0
# prettytable==3.15.1
# proto-plus==1.26.1
# protobuf==5.29.3
# prov==2.0.1
# puremagic==1.28
# pyasn1==0.6.1
# pyasn1_modules==0.4.1
# pydantic==2.10.6
# pydantic_core==2.27.2
# pydot==3.0.4
# PyMuPDF==1.25.3
# pyparsing==3.2.1
# pyreadline3==3.5.4
# python-dateutil==2.9.0.post0
# python-multipart==0.0.20
# pytz==2025.1
# pyxnat==1.6.3
# PyYAML==6.0.2
# rdflib==6.3.2
# requests==2.32.3
# rsa==4.9
# scikit-image==0.25.2
# scikit-learn==1.6.1
# scipy==1.15.2
# simplejson==3.20.1
# simsimd==6.2.1
# six==1.17.0
# sniffio==1.3.1
# starlette==0.46.1
# stringzilla==3.12.3
# sympy==1.13.3
# tbb==2021.11.0
# threadpoolctl==3.5.0
# tifffile==2025.2.18
# torch==2.3.1+cu118
# torchaudio==2.3.1+cu118
# torchvision==0.18.1+cu118
# tqdm==4.67.1
# traits==7.0.2
# typing_extensions==4.12.2
# tzdata==2025.1
# urllib3==2.3.0
# uvicorn==0.34.0
# wcwidth==0.2.13
