@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

.therapyButton {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #000;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-family: "Nanum Myeongjo", serif;
    margin-top: 80px;

}

.therapyButton:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.1);
}
