<!DOCTYPE html>

<html lang="ko">
  <!-- 한국어문서, 음성지원할때 -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--브라우저가 문서를해석할때 한글을 UTF-8형식으로 해석-->

    <title>OHMUCHOO</title>
    <link rel="stylesheet" href="../static/style_index.css" />
    <!-- for live server-->
    <!-- <link rel="stylesheet" href="../static/style_index.css" /> -->
  </head>
  <body>
    <div class="loadingPage" style="display: none">
      <img src="../static/assets/down.gif" alt="down emoji" />
    </div>
    <header class="header_white">
      <div class="logo_white">OHMUCHOO</div>
      <div class="login-btn">
        <a href="/auth/kakao/login">
          <img
            src="../static/assets/kakao_login_medium.png"
            alt="kakao-login-btn"
          />
        </a>
        <button class="logout">로그아웃</button>
      </div>
    </header>
    <main class="container">
      <h1 class="main-title">오늘의 뮤직 추천!</h1>
      <div class="subtitle">
        <p>글로 남겨진 나의 이야기</p>
        <p>감정을 파악하고,</p>
        <p>어울리는 음악을 추천해드려요!</p>
        <p class="subtitle--url">URL을 알려주세요!</p>
      </div>
      <form
        class="input-container"
        method="POST"
        action="v1/models/summary"
        id="urlForm"
      >
        <input
          type="text"
          placeholder="URL을 입력해주세요."
          class="url-input"
          name="url"
        />
        <!-- type="submit" -->
        <button class="submit-button" onClick="loadingShow(event); counting()">
          결과 보기
        </button>
      </form>

      <img
        src="../static/assets/headset.png"
        alt="headset"
        class="emoji headset"
      />
      <img
        src="../static/assets/happy.png"
        alt="happy emoji"
        class="emoji happy-emoji"
      />
      <img
        src="../static/assets/sad.png"
        alt="sad emoji"
        class="emoji sad-emoji"
      />
      <img src="../static/assets/pen.png" alt="pen" class="emoji pen" />
      <img src="../static/assets/book.png" alt="book" class="emoji book" />
      <img src="../static/assets/note.png" alt="note" class="emoji note" />
      <img
        src="../static/assets/thunder.png"
        alt="thunder"
        class="emoji thunder"
      />

      <div class="counting">
        <p>
          총
          <span class="blue">{{count_data.total_count}}</span>명이 이용했어요!
        </p>
        <p>
          오늘은 총
          <span class="red">{{count_data.today_count}}</span>명이 이용했어요!
        </p>
      </div>
      
      <div class="sites">
        <p>ohmuchoo가 지원하는 사이트</p>
        <ul class="site-list">
          <li>NaverBlog</li>
          <li>Velog</li>
          <li>Brunch</li>
          <li>Tistory</li>
          <li>X(twitter)</li>
          <li>reddit</li>
        </ul>

    </main>

    <footer class="footer_green">
      <div class="footer_green--text">
        <p>OHMUCHOO</p>
        <p>2025. All rights reserved.</p>
      </div>
    </footer>

    <script>
      const counting = async () => {
        let userInfo = {
          email: "anonymous",
          nickname: "anonymous",
        };
        kakaoToken = null;
        //로그인 되어있을 경우 정보를 userInfo에 저장
        if (checkLoginStatus()) {
          kakaoToken = localStorage.getItem("kakaoToken");
          userInfo = {
            email: kakaoToken.email,
            nickname: kakaoToken.nickname,
          };
        }

        console.log(userInfo);

        try {
          const response = await fetch("http://127.0.0.1:8000/addCount", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ userInfo: userInfo }),
          });
        } catch (err) {
          console.error("요청 실패:", err);
        }
      };
    </script>

    <script>
      // 로그인 상태 관리
      function checkLoginStatus() {
        const token = localStorage.getItem("kakaoToken");
        return !!token;
      }

      // 로그인 버튼 업데이트
      function updateLoginUI() {
        const isLoggedIn = checkLoginStatus();
        const loginBtn = document.querySelector(".login-btn a");
        const logoutBtn = document.querySelector(".logout");

        if (isLoggedIn) {
          // true
          loginBtn.style.display = "none"; // 숨김
          logoutBtn.style.display = "block"; // 표시
        } else {
          // false
          loginBtn.style.display = "block";
          logoutBtn.style.display = "none";
        }
      }

      // 로그아웃 처리
      function handleLogout() {
        localStorage.removeItem("kakaoToken");
        updateLoginUI();
      }

      // 초기화
      document.addEventListener("DOMContentLoaded", () => {
        updateLoginUI();
        // 로그아웃 버튼 이벤트 리스너
        const logoutBtn = document.querySelector(".logout");
        logoutBtn.addEventListener("click", handleLogout);
      });

      function loadingShow(event) {
        // 폼 제출을 막음
        event.preventDefault();

        const loadingPage = document.querySelector(".loadingPage");

        // 'loadingPage'가 보이도록 설정
        loadingPage.style.display = "block";

        // 폼 제출을 수동으로 실행
        document.getElementById("urlForm").submit();
      }
    </script>
  </body>
</html>
