.Header_Container {
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
  background: transparent;
}

/* 메인 페이지용 */
.Header_Main {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* 다른 페이지용 기본 스타일 */
.Header_Default {
  position: relative;
  height: 5rem;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Header_Inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_Logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Gowun Batang', serif;
  text-decoration: none;
  color: #fff;

  pointer-events: auto;
}

.Header_Menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.Header_Menu li {
  cursor: pointer;
  transition: opacity 0.2s;
}

.Header_Menu li:hover {
  opacity: 0.7;
}

.Header_Actions {
  display: flex;
  align-items: center;
}

.Header_LoginButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;

  border: none;
  outline: none;
  line-height: 1;
}

.Header_LoginButton svg {
  font-size: 30px;
}

.Header_LoginButton:hover {
  background: rgba(255, 255, 255, 0.25);
}

.Header_Black {
  color: black;
}

.Header_White {
  color: white;
}

@media (max-width: 480px) {
  .Header_Container {
    padding: 0 12px;
    height: 60px;
  }

  .Header_Main,
  .Header_Default {
    height: 60px;
  }

  .Header_Inner {
    padding: 0 6px;
  }

  .Header_Logo {
    font-size: 1.2rem;
  }

  .Header_Menu {
    display: none;
  }

  .Header_Actions {
    gap: 8px;
  }

  .Header_LoginButton {
    padding: 4px 0;
    font-size: 14px;
  }

  .Header_LoginButton svg {
    font-size: 24px;
  }

  .Header_PaymentNotice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .Header_BackButton {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    padding: 0;
  }

  .Header_PaymentTitle {
    font-size: 16px;
    font-weight: bold;
    color: #111;
  }

  .Header_PaymentButton {
    font-size: 16px;
    color: #747474;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .Start {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    font-size: 16px;
    color: #007aff;
    background: none;
    border: none;
    cursor: pointer;
  }

  .active {
    color: #007aff;
    font-weight: 500;
  }
}
