.similarContainer {
    width: 1362px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Gowun Batang', serif;
}

.similarSection {
    width: 1380px;  /* PerfumeDetail의 divider와 동일한 너비 */
    margin: 40px auto;
    position: relative;
    left: calc(50% - 1362px/2 + 180px);  /* PerfumeDetail의 divider와 동일한 위치 */
}

.sectionTitle {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    width: 100%;
}


.similarList {
    display: flex;
    justify-content: center;
    gap: 40px;  /* 카드 사이 간격 */
    flex-wrap: wrap;
    padding: 20px;
}

.similarList::-webkit-scrollbar {
    display: none;
}

.similarCard {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
    cursor: pointer;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
}

.similarCard img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.similarCard h4 {
    font-size: 14px;
    color: #333;
    margin: 0;
    margin-bottom: 5px;
}

.mainAccord {
    font-size: 12px;
    color: #666;
}

.loading, .noSimilar {
    position: absolute;
    left: calc(50% + -55px); /* 빨간선(중앙)으로부터 오른쪽으로 55px 이동 */
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}